svg .svg1
{
	fill:#2882f9;
}
svg .svg2
{
	fill:#f8ff6a;
}
svg .svg3
{
	fill:#ff5e5e;
}
svg .svg4
{
	fill:#10BBAB;
}
svg .svg5
{
	fill:#b64eff;
}
svg .svg6
{
	fill:#ff36df;
}
svg .svg7
{
	fill:#a1fc6f;
}
